<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">
	
    <!-- 自动扫描与装配bean -->
    <context:component-scan base-package="ea"></context:component-scan>
    
    <!-- 导入外部的properties -->
    <context:property-placeholder location="classpath:jdbc.properties" />
    
    
	<!-- 配置c3p0连接池 -->
 	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
 		<!-- 注入属性值 -->  
 	    <property name="driverClass" value="${driverClass}"></property>
 		<property name="jdbcUrl" value="${jdbcUrl}"></property>
 		<property name="user" value="${user}"></property>
 		<property name="password" value="${password}"></property>	
 		<!-- 其他配置 -->
 		<!-- 初始化时获取三个链接，取值应在minPoolSize与maxPoolSize之间。default：3 -->
 		<property name="initialPoolSize" value="3"></property>
 		<property name="minPoolSize" value="3"></property>
 		<property name="maxPoolSize" value="15"></property>
 		<property name="acquireIncrement" value="3"></property>
 		<property name="maxStatements" value="3"></property>
 		<property name="maxStatementsPerConnection" value="5"></property>
 		<property name="maxIdleTime" value="1800"></property>
 	</bean>
	
 	<!-- 把sessionFactory创建交给spring管理 -->
 	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
 	    <!-- 因为在hibernate核心配置文件中的数据库配置放在了spring里面配置，所以需要注入DataSource的注入 -->
 	    <property name="dataSource" ref="dataSource"></property>
 	    
 	    <!-- 指定使用的hibernate核心配置文件 -->
 	    <property name="configLocations" value="classpath:hibernate.cfg.xml"></property>
 	</bean>
 	
 	
 	
 	<!-- 第一步 配置事务管理器 -->
 	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
 	   <!-- 注入sessionFactory -->
 	   <property name="sessionFactory" ref="sessionFactory"></property> 
 	</bean>
 	<!-- 第二步 开启注解 -->
 	<tx:annotation-driven transaction-manager="transactionManager"/>
 	
 	
 	<!-- 配置action对象 -->
 	<bean id="testAction" class="ea.test.TestAction" scope="prototype">
 	</bean>
 	
 	<!-- 创建service对象 -->
 	<bean id="testService" class="ea.test.TestService">
 	</bean>
 	
 	
 	<!-- 创建hibernatetemplate对象 -->
 	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
 	    <!-- 注入一个sessionFactory -->
 	    <property name="sessionFactory" ref="sessionFactory"></property>
 	</bean>
 	
</beans>