 @charset "UTF-8";




.footer
 {
 	
	background:#cd9b9b;
	width:100%;
	/* min-height:150px; */
	min-width:1200px;
	
	
}
.footer-wrap{
	width:1100px;
	margin:0 auto;
	
	

}

.footer h3 {
	color:#b9e7ee;
	text-align:center;
	margin-bottom:20px;
	font-size:18px;
	
}
/* #footer p,
#signup-form p {
	color:#FFFFFF;
    margin: 0;
}
 */

   .footer-wrap ul{
	text-align:center;
	list-style-type:none;
}  
 
.footer-wrap li a{
	text-decoration:none;
	color:#fff;
	font-size:16px;
	
	
}
.footer-wrap ul li{
	display:inline;
	list-style-type:none;
	margin:10px 50px;
	
	
	
}
.copyright {
	border-top:1px solid #b9e7ee;
	height:60px;
	border-bottom:1px solid #b9e7ee;
	border-width:100%;
	/* border-width:80%; */
	width:1100px;
	margin:0 auto;
	
}
 .copyright p{
 	
	color:#ccc;
	text-align:center;
	line-height:60px;
	
}
/*  .copyright img
{
	
	color:#b9e7ee;
	margin-top:20px;
	margin-left:40px;
	
} */
.end{
	height:50px;
	background:#cd9b9b;
	
}


