body{margin:0;padding:0;font-family:arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;;}
.wraper{ width:100%; text-align:center;background:#cd9b9b;}
.th{
	width:1200px;margin:0 auto;
}
.logodiv{
	float:left;overflow:hidden;
}
.nav{height:86px; background:#cd9b9b; overflow:hidden;}
.nav-item{ margin:10px;padding:0;list-style:none; float:left; width:100px; height:86px; line-height:86px; text-align:center; font-size:18px; z-index:1}
 .nav-item a{ text-decoration:none;display:block; color:#fff;}
.nav-item a:hover{ color:#fff} 
.header1{
	
	text-align:center;
    border:0px;;
    height:40px;
    background-color:#efefef;
    font-family: DIN Bold, sans-serif; 
}

.header1-ul{
    list-style:none;    
    overflow:hidden;
  	margin-top:10px;
    margin-right:7px;
    float:right;
}
 .header1-ul>li{
    float:right;
    height:30px;
     

        
} 
.header1-ul>li>a{
    color:#000000;
    padding:5px 10px;
    font-weight:100;
    text-decoration:none;
    font-size:15px;
    margin-right:7px;
   
}
