body{heigh:100%;margin:0;padding:0;font-family:arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;;}
a{padding-bottom:3px;color:white;text-decoration:none;}
ul{list-style:none;padding:0;margin:0;}
li{text-align:center;}
.header1{
	
	margin-bottom:0px;"
    background-color:#f6f6f6;
    border:none;
    height:26px;
    font-family: DIN Bold, sans-serif; 
}

.header1-ul2{
    list-style:none;    
    overflow:hidden;
    height:26px;
    margin-top:2px;
    margin-left:70px;
   
    
}
 .header1-ul2>li{
    float:left;
    height:24px;
     

        
} 
.header1-ul2>li>a{
    color:#000000;
    padding:5px 10px;
    font-weight:100;
    text-decoration:none;
    font-size:0.8em;
    margin-right:7px;
    
}


.header1-ul{
    list-style:none;    
    overflow:hidden;
    height:26px;
    margin-top:2px;
    margin-right:70px;
   
    
}
 .header1-ul>li{
    float:right;
    height:24px;
     

        
} 
.header1-ul>li>a{
    color:#000000;
    padding:5px 10px;
    font-weight:100;
    text-decoration:none;
    font-size:0.8em;
    margin-right:7px;
    
}


.header2{
	border-top:0px;
    background-color:#cd2626;
    margin-bottom:-1px;
    height:40px;
    font-family: DIN Bold, sans-serif; 
    font-weight:light;
    font-size:1em;
    text-align:center;
}
.header2 div{
    display:inline-block;
    height:40px;
    line-height:50px;
    color:#fff;
}
.header2 a{
    color:#fff;
}


.nav-bar{
	position:bottom;
	z-index:1000;
	overflow:hidden;
	min-width:900px;
	height:45px;
	}
.nav-bar:hover{
	overflow:visible;
	-webkit-transition:all 0.5s ease;
	transition:all 0.5s ease;
	}
.nav-bg{
	position:absolute;
	width:100%;
	height:272px;
	background:#ffffff;
	-webkit-transition:.3s;
	transition:.3s;
	z-index:9999;
	}
.nav-top{
	height:43px;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	background:#cd2626;
	}
.nav-content{
	position:absolute;
	width:80%;
	left:10%;
	}
.nav-content-box{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	}
.nav-content-box>li{
	float:left;
	line-height:43px;
	}
.nav-content-box>li:hover{
	background:#ffffff;
	}
.nav-content-box>li>span>a{
	display:block;
	width:100%;
	margin:0;
	height:41px;
	line-height:41px;
	}
 .nav-content-box>li:hover>span>a{
 	background:#800000;
 } 
 ul>li.index,ul>li.xinzi,ul>li.luxing{
 	width:320px;
 	}
ul>li.index{
	height:43px;
	}
